<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <security-constraint>
        <display-name>認証が必要なURL</display-name>
        <web-resource-collection>
            <web-resource-name>認証URL</web-resource-name>
            <description/>
            <url-pattern>/secure/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>user_role</role-name>
        </auth-constraint>
    </security-constraint>
    <login-config>
        <auth-method>BASIC</auth-method>
        <realm-name>file</realm-name>
    </login-config>
    <security-role>
        <description>一般ユーザ</description>
        <role-name>user_role</role-name>
    </security-role>
    <security-role>
        <description>管理者</description>
        <role-name>admin_role</role-name>
    </security-role>
</web-app>
